@{
    ViewData["Title"] = "Employee Page";
}

<div class="container">
    <div class="row">
        <div class="col-4">
            <a class="btn btn-primary" href="/Employee/Create">Create New</a>
        </div>
        <div class="col-4">
            <div class="text-center">
                <img src="images/loading.gif" id="loading" />
            </div>
        </div>
        <div class="col-4">
            <input id="search" class="form-control" />
        </div>
    </div>
    <br />
    <table class="table table-bordered" id="t1">
        <thead>
            <tr>
                <th>Employee Name</th>
                <th>Date Of Birth</th>
                <th>Phone Number</th>
                <th>Position</th>
                <th>Department</th>
                <th>Address</th>
                <th>Action</th>
            </tr>
        </thead>
        <tbody></tbody>
    </table>
</div>

@section Scripts{
    <script>$("#loading").show();
        $(document).ready(function () {
            $.ajax({
                method: "GET",
                url: "https://localhost:7089/api/Employee",
                contentType: "application/json",
                success: function (data) {
                    $.each(data, function (i, v) {
                        console.log(v);
                        var row = "<tr><td>" + v.firstName + " " + v.lastName;
                        row += "</td><td>" + v.dateOfBirth;
                        row += "</td><td>" + v.phoneNumber;
                        row += "</td><td>" + v.position["positionName"];
                        row += "</td><td>" + v.department["departmentName"];
                        row += "</td><td>" + v.address;
                        row += '</td><td><a href="#"><i class="fa-sharp fa-solid fa-pen-to-square"></i></a>';
                        row += '| <a href="#"><i class="fa-sharp fa-solid fa-trash"></i></a></td></tr>';
                        $("#t1").append(row);
                    });
                    $("#loading").hide();
                }, error: function (error) {
                    console.log(error);
                    $("#loading").hide();
                }
            });
        });</script>
}